In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
cols = list(df.columns)
df = df[cols[0:2]+cols[1:3]+[cols[-1]]+cols[2:]]
df.head()

,Pregnancies,Glucose,Glucose,BloodPressure,Outcome,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,148,72,1,72,35,0,33.6,0.627,50,1
1,1,85,85,66,0,66,29,0,26.6,0.351,31,0
2,8,183,183,64,1,64,0,0,23.3,0.672,32,1
3,1,89,89,66,0,66,23,94,28.1,0.167,21,0
4,0,137,137,40,1,40,35,168,43.1,2.288,33,1

In [10]:
x=df.iloc[:,:-2]
y=df.iloc[:,-2:]
newdf = pd.concat([y,x],axis=1)

In [11]:
newdf

,Age,Outcome,Pregnancies,Glucose,Glucose,BloodPressure,Outcome,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction
0,50,1,6,148,148,72,1,72,35,0,33.6,0.627
1,31,0,1,85,85,66,0,66,29,0,26.6,0.351
2,32,1,8,183,183,64,1,64,0,0,23.3,0.672
3,21,0,1,89,89,66,0,66,23,94,28.1,0.167
4,33,1,0,137,137,40,1,40,35,168,43.1,2.288
...,...,...,...,...,...,...,...,...,...,...,...,...
763,63,0,10,101,101,76,0,76,48,180,32.9,0.171
764,27,0,2,122,122,70,0,70,27,0,36.8,0.340
765,30,0,5,121,121,72,0,72,23,112,26.2,0.245
766,47,1,1,126,126,60,1,60,0,0,30.1,0.349
767,23,0,1,93,93,70,0,70,31,0,30.4,0.315